<div class="form-group">
    <label for="my-input">Select Car Make</label>
    <select id="my-input" class="form-control">
        <option>Toyota</option>
        <option>Suzuki</option>
    </select>
</div>
<table>
    <tr>
        <td>
            <span [class.hidden]="true" class="form-control"> Vitz</span>
            <input type="text" class="form-control" id="editMe" [class.hidden]="false">
            <input type="text" class="form-control" id="editMe" [class.hidden]="true">
            <input type="text" class="form-control" id="Add Me" [class.hidden]="true"> 
        
        
        
        </td>
        <td>
            <button class="btn btn-secondary">Edit</button>

        </td>
        <td>
                <button class="btn btn-secondary">Delete</button>
        </td>
        <td>
                <button class="btn btn-secondary">Add</button>
        </td>
    </tr>
</table>




<!-- <span [class.hidden]="true"> Vitz</span>
<input type="text" class="form-control" id="editMe" [class.hidden]="false">
<input type="text" class="form-control" id="Add Me" [class.hidden]="true"> -->
